<!--Userinfo プロフィール編集-->

<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h2>User info</h2>
  <form enctype="multipart/form-data" action="edit_user_path" accept-charset="UTF-8" method="post">
    <input type="hidden" name="authenticity_token" value="SnDuHW8WAd_tp4VZcBaraPkbyr89k2jTuBjfamXoaDxE-jxUSqLwkkjGj4cgrR10TB_inX9255bomJKHVA_ntA" autocomplete="off">


      <div class="form-group">
    <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
          <div class="form-group">
        <h8>Name</h8>
         <%= f.text_field :name, class:"form-control" %>
         </div>
            <div class="form-group">
        <h8>Image</h8>
        <%= f.file_field :image, class:"form-control-file user_image" %>
        </div>
      <div class="form-group">
        <h8>Introduction</h8>
        <%= f.text_field :introduction, class:"form-control" %>
        <%= f.submit "Update User", class:"btn btn-secondary form-control introduction" %>
</div>
    <% end %>
          </div>
  </form>
</div>