<!-- ユーザーの詳細 -->
<div>
  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h6><%= @user.name %></h6>
</div>

<!-- ユーザーの投稿一覧 -->

  <h2>New book</h2>
  <%= form_with model: Book.new do |f| %>
    <h6>Title</h6>
    <%= f.text_field :title %>
    
    <h6>Opinion</h6>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
  <% end %>