<!--本の編集画面-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>

        <% if @book.errors.any? %>
          <%= @book.errors.count %> errors prohibited this obj from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>
          <div class="form-group">
            <label for="user_name">Title</label>
            <%= f.text_field :title, class:"form-control name" %>
          </div>
          <div class="form-group">
            <label for="user_image">Opinion</label>
            <%= f.text_field :body, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Update Book", class:"btn btn-secondary" %>
          </div>
        <% end %>

        <td><%= link_to "Show", book_path(@book.id) %></td>
        |
        <td><%= link_to "Back", books_path %></td>


  </div>
</div>