<p id="notice"></p>
<div class="container">
  <div class="row">
    
    <!-- col3部分を共通化 -->
    <%= render 'users/list', user: @user, book: @book %>
    
    <!-- ユーザーの投稿詳細 -->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @book_show.user.get_profile_image(100, 100) %><br>
                <%= @book_show.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
            <td><%= @book_show.title %></td>
            <% if @book_show.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book_show.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book_show.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>