<!-- 新規作成用フラッシュメッセージ -->
<div class="flash">
  <%= flash[:notice] %>
</div>


<div class="container px-5 px-sm-0">
  <div class="row">

    <!-- col3部分を共通化 -->
    <%= render 'users/list', user: @user, book: @book %>


    <!-- ユーザーの投稿詳細 -->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">


          <tbody>
            <tr>
              <% @books.each do |book| %>  <!-- @booksに入ってるデータを1つ取り出して、eachで1つずつ取り出したデータを、|book|に保存している -->
               <tbody>
                <tr>
                  <td><%= image_tag book.user.get_profile_image(100,100) %><%= link_to book.user.name, "user_path" %></td>
                  <td><%= link_to book.title, "book_path" %></td>
                  <td><%= book.body %></td>
            			<td><%= link_to "Edit", edit_book_path(book.id), class: "btn btn-sm btn-success" %></td>
            			<td><%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-sm btn-danger" %></td>
                </tr>
               </tbody>
              <% end %>
              </td>
            </tr>
          </tbody>





      </table>
    </div>
  </div>
</div>